@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base Reset */
html, body, #root {
  height: 100%;
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #343541;
  color: #ECECF1;
  scroll-behavior: smooth;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #565869;
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
